@import "variables"; // variables.less
@import "mixins"; // mixins.less
@import "fonts"; // fonts.less

// ========================================
// GLOBAL
// ========================================

/* global box-sizing */
*,
*:after,
*:before {
    .box-sizing(border-box);
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

/* default global text styling */
body {
    font-family: @font-family-name__base, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: @color-grey;
    font-style: normal;
    font-weight: 350;
    font-size: 18px;
    line-height: 24px;
    padding: 40px 20px;
    margin: 0;

    @media only screen and (min-width: @screen__m) {
        padding: 40px;
        line-height: 30px;
    }

    @media only screen and (min-width: @screen__l) {
        padding: 80px;
    }
}

p {
    margin: 0 0 20px;
}

a {
    color: @color-grey;
}

img {
    max-width: 100%;
}

.img-wrap > img {
    display: inline-block;
    vertical-align: top;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.link-wrap {
    text-align: center;
}

/* buttons */
.button {
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    color: @color-grey;
    background: @color-white;
    .lib-css(border, 1px solid @color-dark-grey, 1);
    border-radius: 5px;
    padding: 20px 60px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 1.02px;
    transition: all 0.3s ease-in-out;

    @media only screen and (max-width: @screen__s) {
        padding: 20px;
        width: 100%;
    }

    &:hover {
        background: @color-grey;
        color: @color-white;
    }

    &.sub {
        border-radius: 0;
        border: none;
        color: @color-white;
        letter-spacing: 0;

        &:hover {
            opacity: 0.8;
        }

        &.white { color: @color-grey-2; background: @color-light-grey-2; }
        &.slategrey { background: @color-dark-grey-2; }
        &.black { background: @color-black; }
        &.pblue { background: @color-pacific-blue; }
        &.lime { background: @color-lime; }
        &.lemon { background: @color-lemon; }
        &.tangerine { background: @color-tangerine; }
        &.sred { background: @color-sunset-red; }
        &.sand { background: @color-sand; }
        &.teak { background: @color-teak; }
        &.green { background: @color-green; }
        &.mahogany { background: @color-mahogany; }
        &.aruba { background: @color-aruba; }
    }
}

/* Owl Slider overrides */
.owl-carousel {
    @media only screen and (max-width: @screen__l) {
        padding: 0 46px;
    }

    .owl-nav {
        button {
            position: absolute;
            top: 50%;
            .translateY(-50%);

            &.disabled {
                display: none;
            }

            &:after {
                content: "";
                display: inline-block;
                vertical-align: top;
                background: url(../images/icons/right-arrow.svg) center center no-repeat;
                background-size: cover;
                width: 26px;
                height: 46px;
                filter: invert(83%) sepia(4%) saturate(10%) hue-rotate(38deg) brightness(103%) contrast(83%);
            }
        }

        .owl-prev {
            left: 0;

            @media only screen and (min-width: @screen__l) {
                left: -46px;
            }

            &:after {
                .rotate(180deg);
            }
        }

        .owl-next {
            right: 0;

            @media only screen and (min-width: @screen__l) {
                right: -46px;
            }
        }
    }
}

/* global section title */
section {
    margin-bottom: 70px;

    @media only screen and (max-width: @screen__m) {
        margin-bottom: 40px;
    }

    > h2 {
        text-transform: uppercase;
        font-weight: 500;
        font-size: 20px;
        color: @color-dark-grey;
        overflow: hidden;
        margin: 0 0 40px;
        text-align: center;
        position: relative;

        @media only screen and (min-width: @screen__s) {
            display: flex;
            flex-direction: row;
        }

        @media only screen and (min-width: @screen__m) {
            font-size: 22px;
        }

        @media only screen and (min-width: @screen__l) {
            font-size: 30px;
        }

        @media only screen and (max-width: @screen__s) {
            span {
                padding: 0 20px;
                display: block;
            }

            &:before, &:after {
                content: "";
                display: block;
                height: 2px;
                background: @color-dark-grey;
            }

            &:before {
                margin-bottom: 10px;
            }

            &:after {
                margin-top: 10px;
            }
        }

        @media only screen and (min-width: @screen__s) {
            &:before, &:after {
                content: "";
                flex: 1 1;
                border-bottom: 1px solid @color-dark-grey;
                margin: auto;
            }

            &:before {
                margin-right: 20px;
            }

            &:after {
                margin-left: 20px;
            }
        }
    }
}

/* global review callout */
.review-callout {
    background: @color-light-grey;
    .display-flex();
    font-size: 18px;
    line-height: 24px;
    text-align: center;

    @media only screen and (max-width: @screen__l) {
        display: block;

        .review-img {
            text-align: center;
            padding: 0 20px 20px 20px;
        }
    }

    @media only screen and (min-width: @screen__l) {
        font-size: 20px;
        line-height: 30px;
    }

    @media only screen and (min-width: @screen__l_xl) {
        font-size: 24px;
        line-height: 30px;
    }

    @media only screen and (min-width: @screen__xl) {
        font-size: 26px;
        line-height: 36px;
    }

    .review-text {
        padding: 20px;
        .display-flex();
        .flex-direction(column);

        @media only screen and (min-width: @screen__l_xl) {
            padding: 30px;
        }

        blockquote {
            font-style: italic;
            margin: 0 0 10px;
            letter-spacing: .92px;
        }

        .extra {
            margin-top: auto;

            p {
                line-height: 30px;
                font-weight: 500;
                margin: 0 0 5px;
            }

            span {
                display: block;
                font-size: 13px;
                line-height: 19px;
            }
        }
    }

    .review-img {
        .flex(0 0 auto);

        img {
            display: inline-block;
            vertical-align: top;
        }
    }

    &.img-circle {
        .review-img {
            padding: 20px 20px 0;

            @media only screen and (min-width: @screen__l) {
                padding: 20px 0 20px 20px;
            }

            @media only screen and (min-width: @screen__l_xl) {
                padding: 30px 0 30px 30px;
            }
        }

        .review-text ~ .review-img {
            padding: 0 20px 20px 20px;

            @media only screen and (min-width: @screen__l) {
                padding: 20px 20px 20px 0;
            }

            @media only screen and (min-width: @screen__l_xl) {
                padding: 30px 30px 30px 0;
            }
        }
    }
}

/* global banner callout (blog in this case) */
.callout {
    position: relative;
    color: @color-white;
    text-align: center;
    overflow: hidden;

    .bg-image {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        background: url(../images/Fall-Patio-Dining-Category-Header_compressed.png) center center no-repeat;
        background-size: cover;
        .lib-css(filter, blur(4px), 1);

        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            right: 0;
            bottom: 0;
            background: rgba(0, 0, 0, 0.4);
        }
    }

    .content {
        position: relative;
        z-index: 2;
        padding: 80px 40px;
        font-weight: 500;

        h3 {
            text-transform: uppercase;
            overflow: hidden;
            font-size: 26px;
            line-height: 36px;
            margin: 0 0 20px;
            font-weight: 500;
            position: relative;

            @media only screen and (min-width: @screen__l) {
                display: flex;
                flex-direction: row;
                font-size: 30px;

                &:before, &:after {
                    content: "";
                    flex: 1 1;
                    border-bottom: 1px solid @color-white;
                    margin: auto;
                }

                &:before {
                    margin-right: 20px;
                }

                &:after {
                    margin-left: 20px;
                }
            }
        }

        p {
            margin-bottom: 40px;

            @media only screen and (min-width: @screen__m) {
                max-width: 70%;
                margin: 0 auto 40px;
            }
        }

        .button {
            .lib-css(border, 0, 1);
        }
    }
}

// ========================================
// Why Section
// ========================================

section.why {
    .why-intro {
        margin-bottom: 40px;

        @media only screen and (max-width: @screen__l) {
            .img-wrap {
                text-align: center;
                margin-bottom: 20px;
            }
        }

        @media only screen and (min-width: @screen__l) {
            .display-flex();
            margin-bottom: 70px;

            .img-wrap {
                .flex(0 1 auto);
                margin-right: 20px;
            }

            .text-wrap {
                .flex(50%);
                line-height: 28px;
                letter-spacing: normal;
            }
        }

        @media only screen and (min-width: @screen__l_xl) {
            .text-wrap {
                line-height: 39px;
                letter-spacing: .59px;
            }
        }
    }
}

// ========================================
// Features Section
// ========================================

section.features {
    text-align: center;

    ul {
        display: grid;
        grid-row: auto;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 40px;

        @media only screen and (min-width: @screen__s) {
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 40px;
        }

        @media only screen and (min-width: @screen__l) {
            grid-column-gap: 80px;
            grid-row-gap: 80px;
        }

        li {
            h3 {
                font-size: 24px;
                font-weight: normal;
                margin: 20px 0 10px;

                @media only screen and (min-width: @screen__l) {
                    font-size: 30px;
                }
            }

            p {
                font-size: 16px;
                line-height: 24px;
                margin: 0;

                @media only screen and (min-width: @screen__l) {
                    line-height: 30px;
                }
            }
        }
    }
}

// ========================================
// FAQ Section
// ========================================

section.faqs {
    ul {
        @media only screen and (min-width: @screen__s) {
            margin: 0 20px;
        }

        @media only screen and (min-width: @screen__l) {
            max-width: 70%;
            margin: 0 auto;
        }

        li {
            margin-bottom: 40px;
            .lib-css(border, 1px solid @color-grey-2, 1);
            .lib-css(border-radius, 5px, 1);
            cursor: pointer;

            h3 {
                font-size: 18px;
                line-height: 25px;
                padding: 20px 50px 20px 20px;
                margin: 0;
                font-weight: normal;
                font-style: italic;
                text-decoration: underline;
                color: @color-grey-2;
                .lib-css(border-top-left-radius, 5px, 1);
                .lib-css(border-top-right-radius, 5px, 1);
                transition: all 0.3s ease-in-out;
                position: relative;

                &:hover {
                    text-decoration: none;
                }

                &:after {
                    content: '\002b';
                    display: inline-block;
                    font-size: 20px;
                    line-height: 26px;
                    width: 30px;
                    height: 30px;
                    font-family: Helvetica,Arial,sans-serif;
                    background: @color-light-grey;
                    color: @color-grey-2;;
                    text-align: center;
                    font-style: normal;
                    position: absolute;
                    top: 50%;
                    right: 10px;
                    .transform(translateY(-50%) rotate(0deg));
                    .lib-css(border-radius, 50%, 1);
                    transition: all 0.3s ease-in-out;
                }
            }

            .content {
                max-height: 0;
                overflow: hidden;
                transition: all 0.3s ease-in-out;
                font-size: 16px;
                line-height: 30px;

                .inner {
                    padding: 20px;
                    .lib-css(border-top, 1px solid @color-grey-2, 1);
                }
            }

            &.active {
                h3 {
                    background: @color-light-grey;
                    text-decoration: none;

                    &:after {
                        background: @color-white;
                        .transform(translateY(-50%) rotate(45deg));
                    }
                }

                .content {
                    max-height: 300px;
                }
            }
        }
    }
}

// ========================================
// Colors Section
// ========================================

section.colors {
    text-align: center;

    > p {
        padding: 0 4%;
        font-size: 19px;
        line-height: 30px;
    }

    #colors-carousel {
        .display-flex-between();

        &.owl-loaded {
            display: block;
        }

        li {
            padding: 0 10px;

            .button {
                width: 100%;
            }
        }
    }

    /* color dot nav styling */
    .colors-dots {
        max-width: 768px;
        margin: 40px auto;
        .grid-col(7, 0);
        grid-row-gap: 10px;

        @media only screen and (min-width: @screen__s) {
            .grid-col(13, 0);
        }

        li {
            position: relative;
            padding: 0 5px;

            &.active {
                img {
                    border-color: @color-grey;
                }
            }

            img {
                display: inline-block;
                vertical-align: top;
                cursor: pointer;
                border: 2px solid transparent;
                border-radius: 50%;
            }
        }
    }
}

// ========================================
// Where To Enjoy Section
// ========================================

section.where {
    ul {
        .grid-col(1);
        grid-row-gap: 40px;

        @media only screen and (min-width: @screen__s) {
            .grid-col(3, 40px);
        }

        li {
            @media only screen and (max-width: @screen__s) {
                .img-wrap {
                    text-align: center;
                }
            }

            h3 {
                font-size: 20px;
                line-height: 26px;
                font-weight: normal;
                margin: 10px 0 5px;

                @media only screen and (min-width: @screen__l) {
                    font-size: 24px;
                    line-height: 39px;
                    margin: 10px 0;
                }
            }

            p {
                margin: 0;

                @media only screen and (max-width: @screen__l) {
                    font-size: 16px;
                    line-height: 24px;
                }
            }
        }
    }
}

// ========================================
// Types Section
// ========================================

section.types {
    ul {
        margin: 0 0 40px;

        @media only screen and (min-width: @screen__l) {
            margin: 0 6% 40px;
        }

        li {
            margin-bottom: 40px;

            @media only screen and (min-width: @screen__s) {
                .display-flex();
            }

            &:last-child {
                margin-bottom: 0;
            }

            .img-wrap {
                @media only screen and (max-width: @screen__s) {
                    text-align: center;
                }

                @media only screen and (min-width: @screen__s) {
                    .flex(0 0 35%);
                    margin-right: 20px;
                }

                @media only screen and (min-width: @screen__l) {
                    .flex(0 0 auto);
                    margin-right: 40px;
                }

                @media only screen and (min-width: @screen__l_xl) {
                    margin-right: 80px;
                }
            }

            h3 {
                font-weight: normal;
                font-size: 20px;
                line-height: 26px;
                margin: 10px 0 5px;

                @media only screen and (min-width: @screen__l) {
                    font-size: 30px;
                    line-height: 39px;
                    margin: 0 0 10px;
                }
            }

            p {
                @media only screen and (max-width: @screen__l) {
                    font-size: 16px;
                    line-height: 24px;
                }
            }
        }
    }

    .link-wrap {
        .button {
            width: 100%;

            @media only screen and (min-width: @screen__s) {
                max-width: 400px;
            }
        }
    }
}

// ========================================
// Reviews Section
// ========================================

section.reviews {
    text-align: center;

    #review-carousel {
        li {
            text-align: left;
            .display-flex();

            .review-img {
                .flex(0 0 auto);
                margin-right: 20px;
            }

            .review-content {
                .display-flex();
                .flex-direction(column);

                h3 {
                    margin: 0;
                    font-size: 18px;
                    line-height: 30px;
                    font-weight: 500;
                }

                p {
                    margin: 0 0 5px;
                    font-size: 12px;
                    line-height: 19px;
                }

                > span {
                    font-size: 13px;
                    line-height: 19px;
                    font-style: italic;
                    margin-top: auto;
                }
            }
        }
    }

    /* dynamic review stars display */
    .stars {
        position: relative;
        display: inline-block;
        .flex-align-self(flex-start);

        .stars-fill {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            overflow: hidden;
            color: @color-yellow;
        }

        .stars-empty {
            color: @color-light-grey;
        }
    }
}