// ==================
// Colors
// ==================
@color-white: #ffffff;
@color-black: #000000;
@color-grey: #55565A;
@color-grey-2: #707070;
@color-dark-grey: #4A4A4A;
@color-dark-grey-2: #6F6F6F;
@color-light-grey: #F6F6F6;
@color-light-grey-2: #F5F5F5;
@color-yellow: #EFC659;

// ==================
// Breakpoints
// ==================
@screen__xxs: 320px;
@screen__xs: 480px;
@screen__s: 640px;
@screen__m: 768px;
@screen__l: 1024px;
@screen__l_xl: 1200px;
@screen__xl: 1440px;